.padding-top{
    padding-top: 60px;
}

.table td .table th{
    padding: 30px;
}

.button-width{
    width: 130px;
}

.width-class{
    width: fit-content;
}

.margin-top{
    margin-top: 3%;
}

.ml-90{
    margin-left: 90%;
}

.thead-bg{
    background: darkgray;
}

.delete-color{
    color: indianred;
}

.edit-color{
    color: seagreen;
}