

<div class="alert alert-success margin-top" *ngIf = 'deleteMsg'>{{deleteMsg}}</div>
<div class="container mt-5">
    <h1 class=" text-center">My ToDo's</h1>

    <div class="row width-class ml-90">
        <button (click)="addTodo()" class="btn btn-success button-width"><i class="material-icons">add_circle</i><span>Add Todo</span></button>
    </div>
    
    <div class="table-responsive mt-5">
    <table class="table table-bordered table-hover text-center">
    <thead class="thead-bg">
        <tr>
            <th>Description</th>
            <th>Target Date</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- for(Todos todo : todos) -->
        <tr *ngFor="let todo of todos">
            <td>{{todo.description}}</td>
            <!-- Here using pipe we are formating Date as simple date -->
            <td>{{todo.targetDate | date}}</td>
            <td>{{todo.done}}</td>
            <td><button (click)="updatetodo(todo.id)" class="btn"><i class="material-icons edit-color">edit</i></button></td>
            <td><button (click)="deleteTodo(todo.id)" class="btn"><i class="material-icons delete-color">delete</i></button></td>
        </tr>
    </tbody>
</table>


</div>
</div>