.image-align{
    width: 48%;
    margin-left: 27%;
    margin-top: 2%;
}
   
.heading-style{
    font-size: 50px;
    font-weight: 400;
}

.content-font{
    font-size: 20px;
}
.mt-2{
    margin-top: 2%;
}

.mt-4{
    margin-top: 4%;
}

.ml-2{
    margin-left: 2%;
}