.nav-background{
    /* background-color: #1a75bb; */
    background-color: black;
    padding-left: 10px;
}

.navbar-font-bold{
font-weight: 700;
}

.mr-2{
    margin-right: 2%;
}

.ml-2{
    margin-left: 2%;
}